<div><%= link_to 'Sidekiq', '/sidekiq' %></div>
<div><%= link_to 'Enqueue New Record job', new_record_path %></div>
<div><%= link_to 'Enqueue Update Record job', edit_record_path %></div>
<div>Count: <%= Record.count %></div>
